// app global css in SCSS form
*{
  font-family: 'LXGW WenKai Lite';
}
.q-card--dark{
  background-color: #292828!important;
}
.body--dark{
  *{
    color: #fff!important;
  }
}
.q-field__native span{
  font-family: 'Montserrat-Regular';
  font-size: 1.4em;
}
